<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<div class="text-center">
		<h2>1:1 문의게시판</h2>
	</div>
	<div class="row my-3">
		<div class="col-6">
			<a th:href="@{/questionboard/create}" class="btn btn-primary">1:1 문의하기</a>
		</div>
		<div class="col-5">
			<div class="input-group">
				<input type="text" id="search_kw" class="form-control" th:value="${kw}">
				<button class="btn btn-outline-secondary" type="button" id="btn_search">
					검색하기
				</button>
			</div>
		</div>
	</div>
	
    <table class="table">
        <thead class="table-dark">
            <tr class="text-center">
                <th>번호</th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
                <th>답변여부</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="questionboard, loop : ${paging}">
            	
                <td th:text="${paging.getTotalElements -(paging.number*paging.size)-loop.index}"></td>
                <td>
                    <a th:href="@{|/questionboard/detail/${questionboard.id}|}" th:text="${questionboard.subject}"
                    th:classappend="${questionboard.author !=null and #authentication.getPrincipal().getUsername() != questionboard.author.username and #authentication.getPrincipal().getUsername() !='admin'} ? 'page-secret'"
                    ></a>
                </td>
                <td><span th:if="${questionboard.author !=null}" th:text="${questionboard.author.username}"></span>
                </td>
                <td th:text="${#temporals.format(questionboard.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td>
				<span th:if="${questionboard.answerList.size()==0}"><a th:href="@{|/questionboard/detail/${questionboard.id}|}" th:text="답변대기" th:classappend="${questionboard.author !=null and #authentication.getPrincipal().getUsername() != questionboard.author.username and #authentication.getPrincipal().getUsername() !='admin'} ? 'page-secret'"></a></span>
                <span th:if="${questionboard.answerList.size()!=0}" th:text="답변완료"></span>
                </td>
            </tr>          
            </tbody>
    </table>
    <div th:if="${!paging.isEmpty()}">
    	<ul class="pagination justify-content-center">
    		<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
    			<a class="page-link" href="javascript:void(0);" th:data-page="${paging.number-1}">
    				<span>이전</span></a>    
    		</li>   
    		<li th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
    			th:if="${page>=paging.number-2 and page <=paging.number+2}"
    			th:classappend="${page == paging.number} ? 'active'"
    			class="page-item">
    			<a th:text="${page}" class="page-link" 
    			href="javascript:void(0);" th:data-page="${page}"></a>
    		</li>
    		<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
    			<a class="page-link" href="javascript:void(0);" th:data-page="${paging.number+1}">
    				<span>다음</span>
    			</a>
    		</li>
    	</ul>
    </div>
    <form th:action="@{/questionboard/list}" method="get" id="searchForm">
    	<input type="hidden" id="kw" name="kw" th:value="${kw}">
    	<input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
    
    <script layout:fragment="script" type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const page_secret = document.getElementsByClassName("page-secret");
Array.from(page_secret).forEach(function(element) {
    element.addEventListener('click', function(e) {   
       document.getElementById('page').value = this.dataset.page;
       alert('권한이 없습니다');

    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 0; 
    document.getElementById('searchForm').submit();
});
</script>
    
</div>
</html>